
@{
    ViewBag.Title = "BaoCaoSach";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="content">
        <div class="container-fluid">
            <div class="row">
                <label for="tungay"> Từ ngày</label>
                <td align="left" valign="top">
                    <label>
                        <select name="select" style="width:27%;">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                            <option>8</option>
                            <option>9</option>
                            <option>10</option>
                            <option>11</option>
                            <option>12</option>
                            <option>13</option>
                            <option>14</option>
                            <option>15</option>
                            <option>16</option>
                            <option>17</option>
                            <option>18</option>
                            <option>19</option>
                            <option>20</option>
                            <option>21</option>
                            <option>22</option>
                            <option>23</option>
                            <option>24</option>
                            <option>25</option>
                            <option>26</option>
                            <option>27</option>
                            <option>28</option>
                            <option>29</option>
                            <option>30</option>
                            <option>31</option>
                        </select>
                        <select name="select2" style="width:27%;">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                            <option>8</option>
                            <option>9</option>
                            <option>10</option>
                            <option>11</option>
                            <option>12</option>
                        </select>
                        <select name="select3" style="width:38%;">
                            <option>2015</option>
                            <option>2016</option>
                            <option>2017</option>
                            <option>2018</option>
                            <option>2019</option>
                            <option>2020</option>
                        </select>
                    </label>
                </td>
                <label for="denngay">Đến ngày</label>
                <td align="left" valign="top">
                    <label>
                        <select name="select" style="width:27%;">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                            <option>8</option>
                            <option>9</option>
                            <option>10</option>
                            <option>11</option>
                            <option>12</option>
                            <option>13</option>
                            <option>14</option>
                            <option>15</option>
                            <option>16</option>
                            <option>17</option>
                            <option>18</option>
                            <option>19</option>
                            <option>20</option>
                            <option>21</option>
                            <option>22</option>
                            <option>23</option>
                            <option>24</option>
                            <option>25</option>
                            <option>26</option>
                            <option>27</option>
                            <option>28</option>
                            <option>29</option>
                            <option>30</option>
                            <option>31</option>
                        </select>
                        <select name="select2" style="width:27%;">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                            <option>8</option>
                            <option>9</option>
                            <option>10</option>
                            <option>11</option>
                            <option>12</option>
                        </select>
                        <select name="select3" style="width:38%;">
                            <option>2015</option>
                            <option>2016</option>
                            <option>2017</option>
                            <option>2018</option>
                            <option>2019</option>
                            <option>2020</option>
                        </select>
                    </label>
                </td>
                <button for="submit">Xem</button>
                <div class="col-md-12">

                    <div class="card">

                        <div class="card-header card-header-primary">

                            <h4 class="card-title ">Danh sách sách mượn</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead class=" text-primary">
                                        <tr>
                                            <th>
                                                Mã đầu sách
                                            </th>
                                            <th>
                                                Tên
                                            </th>
                                            <th>
                                                Mã độc giả
                                            </th>
                                            <th>
                                                Mã thẻ
                                            </th>
                                            <th>
                                                Ngày Mượn
                                            </th>

                                            <th>
                                                Ghi Chú
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th>
                                                DS01
                                            </th>
                                            <th>
                                                Toán Cao Cấp
                                            </th>
                                            <th>
                                                DG01
                                            </th>
                                            <th>
                                                MT01
                                            </th>
                                            <th>
                                                20/01/2019
                                            </th>
                                            <th>
                                                Trả trước 20/06/2019
                                            </th>
                                        </tr>
                                        <tr>
                                            <th>
                                                DS02
                                            </th>
                                            <th>
                                                Hình học
                                            </th>
                                            <th>
                                                DG02
                                            </th>
                                            <th>
                                                MT02
                                            </th>
                                            <th>
                                                24/03/2019
                                            </th>
                                            <th>
                                            </th>
                                        </tr>
                                        <tr>
                                            <th>
                                                DS03
                                            </th>
                                            <th>
                                                Tư tưởng HCM
                                            </th>
                                            <th>
                                                DG03
                                            </th>

                                            <th>
                                                MT03
                                            </th>
                                            <th>
                                                23/03/2019
                                            </th>
                                            <th>
                                            </th>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>