
@{
    ViewBag.Title = "ThongKeDocGia";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="content">
        <div class="container-fluid">
            <div class="row">
                <label for="tungay"> Từ ngày</label>
                <td align="left" valign="top">
                    <label>
                        <select name="select" style="width:27%;">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                            <option>8</option>
                            <option>9</option>
                            <option>10</option>
                            <option>11</option>
                            <option>12</option>
                            <option>13</option>
                            <option>14</option>
                            <option>15</option>
                            <option>16</option>
                            <option>17</option>
                            <option>18</option>
                            <option>19</option>
                            <option>20</option>
                            <option>21</option>
                            <option>22</option>
                            <option>23</option>
                            <option>24</option>
                            <option>25</option>
                            <option>26</option>
                            <option>27</option>
                            <option>28</option>
                            <option>29</option>
                            <option>30</option>
                            <option>31</option>
                        </select>
                        <select name="select2" style="width:27%;">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                            <option>8</option>
                            <option>9</option>
                            <option>10</option>
                            <option>11</option>
                            <option>12</option>
                        </select>
                        <select name="select3" style="width:38%;">
                            <option>2015</option>
                            <option>2016</option>
                            <option>2017</option>
                            <option>2018</option>
                            <option>2019</option>
                            <option>2020</option>
                        </select>
                    </label>
                </td>
                <label for="denngay">Đến ngày</label>
                <td align="left" valign="top">
                    <label>
                        <select name="select" style="width:27%;">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                            <option>8</option>
                            <option>9</option>
                            <option>10</option>
                            <option>11</option>
                            <option>12</option>
                            <option>13</option>
                            <option>14</option>
                            <option>15</option>
                            <option>16</option>
                            <option>17</option>
                            <option>18</option>
                            <option>19</option>
                            <option>20</option>
                            <option>21</option>
                            <option>22</option>
                            <option>23</option>
                            <option>24</option>
                            <option>25</option>
                            <option>26</option>
                            <option>27</option>
                            <option>28</option>
                            <option>29</option>
                            <option>30</option>
                            <option>31</option>
                        </select>
                        <select name="select2" style="width:27%;">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                            <option>8</option>
                            <option>9</option>
                            <option>10</option>
                            <option>11</option>
                            <option>12</option>
                        </select>
                        <select name="select3" style="width:38%;">
                            <option>2015</option>
                            <option>2016</option>
                            <option>2017</option>
                            <option>2018</option>
                            <option>2019</option>
                            <option>2020</option>
                        </select>
                    </label>
                </td>
                <button for="submit">Xem</button>
                <div class="col-md-12">

                    <div class="card">
                        <div class="card-header card-header-primary">
                            <h4 class="card-title ">Danh sách độc giả</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead class=" text-primary">
                                        <tr>
                                            <th>
                                                Mã độc giả
                                            </th>
                                            <th>
                                                Tên độc giả
                                            </th>
                                            <th>
                                                Đơn vị
                                            </th>
                                            <th>
                                                Số sách mượn
                                            </th>
                                            <th>
                                                Vi phạm
                                            </th>

                                            <th>
                                                Ghi chú
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th>
                                                DG01
                                            </th>
                                            <th>
                                                Nguyễn Văn Anh
                                            </th>
                                            <th>
                                                Lớp CNTT16
                                            </th>
                                            <th>
                                                8
                                            </th>
                                            <th>
                                                Không
                                            </th>
                                            <th>
                                                <!--<a href="javascript:;">Sửa</a>
                                            |
                                            <a href="javascript:;">Xoá</a>-->
                                            </th>
                                        </tr>
                                        <tr>
                                            <th>
                                                DG02
                                            </th>
                                            <th>
                                                Nguyễn Ngọc Ánh
                                            </th>
                                            <th>
                                                Lớp CNTT16
                                            </th>
                                            <th>
                                                5
                                            </th>
                                            <th>
                                                Không
                                            </th>
                                            <th>
                                            </th>
                                        </tr>
                                        <tr>
                                            <th>
                                                DG03
                                            </th>
                                            <th>
                                                Lê Thị Hiền
                                            </th>
                                            <th>
                                                Lớp CNTT16
                                            </th>

                                            <th>
                                                7
                                            </th>
                                            <th>
                                                Trả muộn
                                            </th>
                                            <th>
                                            </th>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
