
@{
    ViewBag.Title = "CTMuonTra";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-12">

                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title ">Thông tin phiếu mượn CT01</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <tr>
                                        <th>
                                            Mã cuốn sách
                                        </th>
                                        <th>
                                            Tên sách
                                        </th>
                                        <th>
                                            Tình trạng
                                        </th>

                                        <th>
                                            Ngày trả
                                        </th>
                                        <th>
                                            Thao tác
                                        </th>

                                    </tr>
                                </thead>
                                <tbody>

                                    <tr>
                                        <th>
                                            132401
                                        </th>
                                        <th>
                                            Cỏ Mía
                                        </th>
                                        <th>
                                            đã trả
                                        </th>
                                        <th>
                                            10/5/2020
                                        </th>
                                        <th>
                                            <a href="javascript:;">Sửa</a>
                                            |
                                            <a href="javascript:;">Xóa</a>
                                        </th>
                                    </tr>

                                    <tr>
                                        <th>
                                            132434
                                        </th>
                                        <th>
                                            Toán rời rạc
                                        </th>
                                        <th>
                                            chưa trả
                                        </th>
                                        <th>
                                        </th>
                                        <th>
                                            <a href="javascript:;">Sửa</a>
                                            |
                                            <a href="javascript:;">Xóa</a>
                                        </th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <button type="submit" class="btn btn-primary pull-right">Trở về</button>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
