
@{
    ViewBag.Title = "Muon_Tra";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-md-8">
    <div class="card">
        <div class="card-header card-header-primary">
            <h4 class="card-title">Tìm kiếm phiếu mượn</h4>
        </div>
        <div class="card-body">
            <form>
                <div class="row">

                    <div class="col-md-3">
                        <div class="form-group bmd-form-group">
                            <label class="bmd-label-floating">Mã phiếu</label>
                            <input type="text" class="form-control">
                        </div>

                    </div>
                    <div class="col-md-4">
                        <div class="form-group bmd-form-group">
                            <label class="bmd-label-floating">Số thẻ</label>
                            <input type="email" class="form-control">
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary pull-right">Tìm kiếm</button>
                <div class="clearfix"></div>
            </form>
        </div>
    </div>
</div>

<div class="content">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-12">

                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title ">Danh sách phiếu mượn</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <tr>
                                        <th>
                                            Mã mượn trả
                                        </th>
                                        </th>
                                        <th>
                                            Số thẻ
                                        </th>
                                        <th>
                                            Tên người mượn
                                        </th>
                                        <th>
                                            SDT
                                        </th>
                                        <th>
                                            Đơn vị
                                        </th>
                                        <th>
                                            Ngày mượn
                                        </th>
                                        <th>
                                            Trạng thái
                                        </th>

                                    </tr>
                                </thead>
                                <tbody>

                                    <tr>
                                        <th>
                                            MT01
                                        </th>
                                        <th>
                                            17150177
                                        </th>
                                        <th>
                                            Sa Văn Sơn
                                        </th>
                                        <th>
                                            0164485244
                                        </th>
                                        <th>
                                            TNCNTT16
                                        </th>
                                        <th>
                                            8/5/2020
                                        </th>
                                        <th>
                                            <a href="javascript:;">Xem</a>
                                            |
                                            <a href="javascript:;">Xử lý</a>
                                            |
                                            <a href="javascript:;">Xóa</a>
                                        </th>
                                    </tr>

                                    <tr>
                                        <th>
                                            MT02
                                        </th>
                                        <th>
                                            18130422
                                        </th>
                                        <th>
                                            Nguyễn Thị Ánh
                                        </th>
                                        <th>
                                            0167934233
                                        </th>
                                        <th>
                                            CNTT16A
                                        </th>
                                        <th>
                                            5/5/2020
                                        </th>
                                        <th>
                                            <a href="javascript:;">Xem</a>
                                            |
                                            <a href="javascript:;">Xử lý</a>
                                            |
                                            <a href="javascript:;">Xóa</a>
                                        </th>
                                    </tr>

                                    <tr>
                                        <th>
                                            MT03
                                        </th>
                                        <th>
                                            17154477
                                        </th>
                                        <th>
                                            Tạ Quang huy
                                        </th>
                                        <th>
                                            0163485256
                                        </th>
                                        <th>
                                            DTVT15B
                                        </th>
                                        <th>
                                            5/5/2020
                                        </th>
                                        <th>
                                            <a href="javascript:;">Xem</a>
                                            |
                                            <a href="javascript:;">Xử lý</a>
                                            |
                                            <a href="javascript:;">Xóa</a>
                                        </th>
                                    </tr>

                                    <tr>
                                        <th>
                                            MT04
                                        </th>
                                        <th>
                                            17150199
                                        </th>
                                        <th>
                                            Đào Vy
                                        </th>
                                        <th>
                                            016445221
                                        </th>
                                        <th>
                                            TNCNTT17
                                        </th>
                                        <th>
                                            4/5/2020
                                        </th>
                                        <th>
                                            <a href="javascript:;">Xem</a>
                                            |
                                            <a href="javascript:;">Xử lý</a>
                                            |
                                            <a href="javascript:;">Xóa</a>
                                        </th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
