
@{
    ViewBag.Title = "QLPhat";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-12">

                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title ">Danh sách phạt</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <tr>
                                        <th>
                                            Mã mượn trả
                                        </th>
                                        </th>
                                        <th>
                                            Số thẻ
                                        </th>
                                        <th>
                                            Tên người mượn
                                        </th>
                                        <th>
                                            SDT
                                        </th>
                                        <th>
                                            Đơn vị
                                        </th>
                                        <th>
                                            Ngày mượn
                                        </th>
                                        <th>
                                            Số ngày quá hạn
                                        </th>
                                        <th>
                                            Số tiền trả
                                        </th>
                                        <th>
                                            Thao tác
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr>
                                        <th>
                                            MT01
                                        </th>
                                        <th>
                                            17150177
                                        </th>
                                        <th>
                                            Sa Văn Sơn
                                        </th>
                                        <th>
                                            0164485244
                                        </th>
                                        <th>
                                            TNCNTT16
                                        </th>
                                        <th>
                                            8/5/2020
                                        </th>
                                        <th>
                                            3
                                        </th>
                                        <th>
                                            3000 vnđ
                                        </th>
                                        <th>
                                            <a href="javascript:;">Xử lý</a>
                                            |
                                            <a href="javascript:;">Xóa</a>
                                        </th>
                                    </tr>

                                    <tr>
                                        <th>
                                            MT02
                                        </th>
                                        <th>
                                            18130422
                                        </th>
                                        <th>
                                            Nguyễn Thị Ánh
                                        </th>
                                        <th>
                                            0167934233
                                        </th>
                                        <th>
                                            CNTT16A
                                        </th>
                                        <th>
                                            5/5/2020
                                        </th>
                                        <th>
                                            10
                                        </th>
                                        <th>
                                            10000 vnđ
                                        </th>
                                        <th>
                                            <a href="javascript:;">Xử lý</a>
                                            |
                                            <a href="javascript:;">Xóa</a>
                                        </th>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
