
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <img style="width: 100%; height: 700px" src="~/Assets/img/thu-vien - trang - chu.jpg" />

    </div>
</div>
