@{
    ViewBag.Title = "Home Page";
}

<div class="vebrary-content container">
    <div class="top-event hidden-xs">
        <div class="row">
            <div class="body-event col-md-12">
                <div class="row">
                    <div class="date-system col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <span id="currentdate" class="date-text">
                            Chủ nhật, Ngày 10 Tháng 5 Năm 2020 21:43:39
                        </span>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 text-run">
                        <marquee behavior="scroll" direction="left" xmlns="http://www.w3.org/1999/xhtml" xmlns:xhtml="http://www.w3.org/1999/xhtml" xmlns:local="urn:local">
                            <span class="text-red">(09/05/2020)</span>
                            <a href="#" class="text-bold text-black">
                                Hạn trả sách học kì 2 năm học 2019-2020 (Hạn chót 5/6/2020)
                            </a>
                        </marquee>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12" style="padding-right:5px;">
            <div class="service-library light-box-shadow">
                <div class="service-main">
                    <div class="row">
                        <div class="reader col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <a href="#">
                                <div class="box-service text-center">
                                    <span class="icon">
                                        <i class="fas fa-user" aria-hidden="true"></i>
                                    </span>
                                    <p>Thông tin độc giả</p>
                                </div>
                            </a>
                        </div>
                        <div class="credit col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <a href="#">
                                <div class="box-service text-center">
                                    <span class="icon">
                                        <i class="fa fa-credit-card" aria-hidden="true"></i>
                                    </span>
                                    <p>Đăng kí thẻ thư viện</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="time-working-main col-lg-12 col-md-12 col-sm-6 col-xs-12 time-working light-box-shadow margin-bottom-10 " xmlns="http://www.w3.org/1999/xhtml" xmlns:xhtml="http://www.w3.org/1999/xhtml" xmlns:local="urn:local">
                <div class="time-title text-center">
                    <p>
                        <i class="far fa-clock" aria-hidden="true">
                            <span style="display:none">hidden</span>
                        </i>
                        <strong class="text-blue">Giờ hoạt động</strong>
                    </p>
                </div>
                <div class="time-content">
                    <div>
                        <b>
                            <span style="font-size: 14px;">
                                Thứ Hai đến thứ Sáu: <br>
                            </span>
                        </b>
                    </div>
                    <div>
                        + &nbsp;Thời gian mở cửa phục vụ: &nbsp;7 giờ 30
                        <br>
                    </div>
                    <div>
                        + &nbsp;Thời gian hết giờ phục vụ: &nbsp;16 giờ 30
                        <br>
                    </div>
                    <div>
                        <br>
                    </div>
                    <div>
                        <b>
                            <span style="font-size: 14px;">
                                Thứ Bảy:
                            </span>
                        </b>
                        <br>
                    </div>
                    <div>
                        + &nbsp;Thời gian mở cửa phục vụ: &nbsp;8 giờ 00
                        <br>
                    </div>
                    <div>
                        + &nbsp;Thời gian hết giờ phục vụ: &nbsp;16 giờ 00
                    </div>
                    <div>
                        <br>
                    </div>
                    <div>
                        <b>
                            <span style="font-size: 14px;">
                                &nbsp; &nbsp;- Thư viện phục vụ không phục buổi trưa.
                            </span>
                        </b>
                    </div>
                    <div>
                        <b>
                            <span style="color: rgb(60, 60, 60); font-family: arial; font-size: 14px;">
                                &nbsp; &nbsp;- Thư viện không phục vụ vào ngày lễ, tết theo quy định và các ngày nghỉ đột xuất khác (có thông báo).
                            </span>
                            <span style="font-size: 14px;">
                                <br>
                            </span>
                        </b>
                        <br>
                    </div>
                </div>
            </div>
            <div class="margin-top-10">
                <div class="BannerRightHome light-box-shadow clearboth" xmlns="http://www.w3.org/1999/xhtml" xmlns:xhtml="http://www.w3.org/1999/xhtml" xmlns:local="urn:local">
                    <!-- <a href="http://nlv.gov.vn/" target="_blank" title="Thư viện quốc gia Việt Nam">
                        <img src="/Portal/ViewImage?idName=ID&amp;idValue=730&amp;fieldImage=IMAGE&amp;tableName=PORTAL_DOCUMENT" style="max-height: 85px;" alt="Thư viện quốc gia Việt Nam">
                        <span style="display:none">hidden</span>
                    </a>
                    <a href="http://www.vilasal.org.vn/" target="_blank" title="Liên Chi hội Thư viện Đại học phía Nam">
                        <img src="/Portal/ViewImage?idName=ID&amp;idValue=729&amp;fieldImage=IMAGE&amp;tableName=PORTAL_DOCUMENT" style="max-height: 85px;" alt="Liên Chi hội Thư viện Đại học phía Nam">
                        <span style="display:none">hidden</span>
                    </a>
                    <a href="http://www.vnulib.edu.vn/#1" target="_blank" title="Thư viện Trung tâm ĐHQG-HCM">
                        <img src="/Portal/ViewImage?idName=ID&amp;idValue=728&amp;fieldImage=IMAGE&amp;tableName=PORTAL_DOCUMENT" style="max-height: 85px;" alt="Thư viện Trung tâm ĐHQG-HCM">
                        <span style="display:none">hidden</span>
                    </a> -->
                    <a href="#" target="_blank" title="">
                        <img src="~/Content/images/PORTAL_DOCUMENT-IDidValue.jpg" style="max-height: 85px;" alt="">
                        <!-- <span style="display:none">hidden</span> -->
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12" style="padding-left: 5px;">
            <div class="zone-search light-box-shadow">
                <div class="tool-search">
                    <div class="content-search-view2">
                        <div class="content-search-heading">
                            <em>
                                <i class="fas fa-search"></i>
                            </em>
                            <span>Tìm kiếm tài liệu</span>
                        </div>
                        <div class="input-group">
                            <input id="lv-Text" class="border-color-primary-0 form-control" onkeyup="OnKeyUpOpac(event)" placeholder="Nhập từ khóa cần tìm..." type="text">
                            <span class="input-group-btn background-color-primary-0">
                                <input class="btn btn-primary border-color-primary-0 background-color-primary-0" id="lv-buttonsearch" title="Tìm" value="Tìm" onclick="searchopac()" type="button">
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="new-book box-1 light-box-shadow">
                <div class="book-title">
                    <div class="row">
                        <div class="col-md-3 col-sm-12 col-lg-3 col-xs-3">
                            <p style="font-size: 14px; font-weight: 500; margin:15px 10px 15px; padding:7px;">
                                SÁCH MƯỢN NHIỀU
                                <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                            </p>

                        </div>
                        <div class="col-md-9 col-sm-12 col-lg-9 col-xs-9">
                            <ul class="nav nav-tabs hidden-xs">
                                <li class="active">
                                    <a href="#" data-toggle="tab" aria-expanded="false">
                                        Kỹ năng sống
                                    </a>
                                </li>
                                <li class="">
                                    <a href="#" data-toggle="tab" aria-expanded="true">
                                        Toán
                                    </a>
                                </li>
                                <li class="">
                                    <a href="#" data-toggle="tab" aria-expanded="false">
                                        Chính trị
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="slide">
                    <div id="nb-slide" class="carousel slide" data-ride="carousel">

                        <!-- Indicators
                <ul class="carousel-indicators">
                    <li id= "tab-1" data-target="#nb-slide" data-slide-to="0" class="active"></li>
                    <li id = "tab-2" data-target="#nb-slide" data-slide-to="1"></li>
                    <li id = "tab-3" data-target="#nb-slide" data-slide-to="2"></li>
                </ul> -->

                        <div>
                            <!-- The slideshow -->
                            <div class="carousel-inner ">
                                <div class="carousel-item active">
                                    <div class="row" style="margin:12px 5px 10px 5px">
                                        <div class="col-md-3 col-lg-3 col-sm-3">
                                            <img class="img-slider" src="~/Content/images/Book/NeuChiConMotNgayDeSong.jpg" alt="List 1">
                                            <a href="#" class="link-book">
                                                Nếu chỉ còn một ngày để sống
                                            </a><br />
                                            <span>(</span>
                                            <a href="#" class="link-author">
                                                Nicola Yoon
                                            </a>
                                            <span>)</span>
                                        </div>
                                        <div class="col-md-3 col-lg-3 col-sm-3">
                                            <img class="img-slider" src="~/Content/images/Book/NeuChiConMotNgayDeSong.jpg" alt="List 1">
                                            <a href="#" class="link-book">
                                                Nếu chỉ còn một ngày để sống
                                            </a><br />
                                            <span>(</span>
                                            <a href="#" class="link-author">
                                                Nicola Yoon
                                            </a>
                                            <span>)</span>
                                        </div>
                                        <div class="col-md-3 col-lg-3 col-sm-3">
                                            <img class="img-slider" src="~/Content/images/Book/NeuChiConMotNgayDeSong.jpg" alt="List 1">
                                            <a href="#" class="link-book">
                                                Nếu chỉ còn một ngày để sống
                                            </a><br />
                                            <span>(</span>
                                            <a href="#" class="link-author">
                                                Nicola Yoon
                                            </a>
                                            <span>)</span>
                                        </div>
                                        <div class="col-md-3 col-lg-3 col-sm-3">
                                            <img class="img-slider" src="~/Content/images/Book/NeuChiConMotNgayDeSong.jpg" alt="List 1">
                                            <a href="#" class="link-book">
                                                Nếu chỉ còn một ngày để sống
                                            </a><br />
                                            <span>(</span>
                                            <a href="#" class="link-author">
                                                Nicola Yoon
                                            </a>
                                            <span>)</span>
                                        </div>
                                    </div>

                                </div>
                                <div class="carousel-item">
                                    <div class="row" style="margin:12px 5px 10px 5px">
                                        <div class="col-md-3 col-lg-3 col-sm-3">
                                            <img class="img-slider" src="~/Content/images/Book/ToanCaoCap.jpg" alt="List 2">
                                            <a href="#" class="link-book">
                                                Toán cao cấp
                                            </a><br />
                                            <span>(</span>
                                            <a href="#" class="link-author" style="font-size:14px;  font-weight: 300;">
                                                Nguyễn Đình Trí
                                            </a>
                                            <span>)</span>
                                        </div>
                                        <div class="col-md-3 col-lg-3 col-sm-3">
                                            <img class="img-slider" src="~/Content/images/Book/ToanCaoCap.jpg" alt="List 2">
                                            <a href="#" class="link-book">
                                                Toán cao cấp
                                            </a><br />
                                            <span>(</span>
                                            <a href="#" class="link-author" style="font-size:14px;  font-weight: 300;">
                                                Nguyễn Đình Trí
                                            </a>
                                            <span>)</span>
                                        </div>
                                        <div class="col-md-3 col-lg-3 col-sm-3">
                                            <img class="img-slider" src="~/Content/images/Book/ToanCaoCap.jpg" alt="List 2">
                                            <a href="#" class="link-book">
                                                Toán cao cấp
                                            </a><br />
                                            <span>(</span>
                                            <a href="#" class="link-author" style="font-size:14px;  font-weight: 300;">
                                                Nguyễn Đình Trí
                                            </a>
                                            <span>)</span>
                                        </div>
                                        <div class="col-md-3 col-lg-3 col-sm-3">
                                            <img class="img-slider" src="~/Content/images/Book/ToanCaoCap.jpg" alt="List 2">
                                            <a href="#" class="link-book">
                                                Toán cao cấp
                                            </a><br />
                                            <span>(</span>
                                            <a href="#" class="link-author" style="font-size:14px;  font-weight: 300;">
                                                Nguyễn Đình Trí
                                            </a>
                                            <span>)</span>
                                        </div>
                                    </div>

                                </div>
                                <div class="carousel-item">
                                    <div class="row" style="margin:12px 5px 10px 5px">
                                        <div class="col-md-3 col-lg-3 col-sm-3">
                                            <img class="img-slider" src="~/Content/images/Book/DuongLoiCMcuaDCSVN.jpg" alt="List 3">
                                            <a href="#" class="link-book">
                                                Đường lối cách mạng của Đảng Cộng sản Việt Nam
                                            </a><br />
                                            <span>(</span>
                                            <a href="#" class="link-author">
                                                Bộ GD & ĐT
                                            </a>
                                            <span>)</span>
                                        </div>
                                        <div class="col-md-3 col-lg-3 col-sm-3">
                                            <img class="img-slider" src="~/Content/images/Book/DuongLoiCMcuaDCSVN.jpg" alt="List 3">
                                            <a href="#" class="link-book">
                                                Đường lối cách mạng của Đảng Cộng sản Việt Nam
                                            </a><br />
                                            <span>(</span>
                                            <a href="#" class="link-author" style="font-size:14px;  font-weight: 300;">
                                                Bộ GD & ĐT
                                            </a>
                                            <span>)</span>
                                        </div>
                                        <div class="col-md-3 col-lg-3 col-sm-3">
                                            <img class="img-slider" src="~/Content/images/Book/DuongLoiCMcuaDCSVN.jpg" alt="List 3">
                                            <a href="#" class="link-book">
                                                Đường lối cách mạng của Đảng Cộng sản Việt Nam
                                            </a><br />
                                            <span>(</span>
                                            <a href="#" class="link-author">
                                                Bộ GD & ĐT
                                            </a>
                                            <span>)</span>
                                        </div>
                                        <div class="col-md-3 col-lg-3 col-sm-3">
                                            <img class="img-slider" src="~/Content/images/Book/DuongLoiCMcuaDCSVN.jpg" alt="List 3">
                                            <a href="#" class="link-book">
                                                Đường lối cách mạng của Đảng Cộng sản Việt Nam
                                            </a><br />
                                            <span>(</span>
                                            <a href="#" class="link-author">
                                                Bộ GD & ĐT
                                            </a>
                                            <span>)</span>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>

                        <!-- Left and right controls -->
                        <a class="carousel-control-prev" href="#nb-slide" data-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                        </a>
                        <a class="carousel-control-next" href="#nb-slide" data-slide="next">
                            <span class="carousel-control-next-icon"></span>
                        </a>


                    </div>
                </div>
            </div>
            <div class="new-book box-1 light-box-shadow">
                <div class="book-title">
                    <div class="row">
                        <div class="col-md-3 col-sm-12 col-lg-3 col-xs-3">
                            <p style="font-size: 14px; font-weight: 500; margin:15px 10px 15px; padding:7px;">
                                SÁCH THEO CHỦ ĐỀ
                                <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                            </p>

                        </div>
                        <div class="col-md-9 col-sm-12 col-lg-9 col-xs-9">
                            <ul class="nav nav-tabs hidden-xs">
                                <li class="active">
                                    <a href="#" data-toggle="tab" aria-expanded="false">
                                        Công nghệ thông tin
                                    </a>
                                </li>
                                <li class="">
                                    <a href="#" data-toggle="tab" aria-expanded="true">
                                        Toán học
                                    </a>
                                </li>
                                <li class="">
                                    <a href="#" data-toggle="tab" aria-expanded="false">
                                        Pháp luật
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="slide">
                    <div id="cn-slide" class="carousel slide" data-ride="carousel">

                        <!-- Indicators
                <ul class="carousel-indicators">
                    <li id= "tab-1" data-target="#nb-slide" data-slide-to="0" class="active"></li>
                    <li id = "tab-2" data-target="#nb-slide" data-slide-to="1"></li>
                    <li id = "tab-3" data-target="#nb-slide" data-slide-to="2"></li>
                </ul> -->

                        <div>
                            <!-- The slideshow -->
                            <div class="carousel-inner ">
                                <div class="carousel-item active">
                                    <div class="row" style="margin:12px 5px 10px 5px">
                                        <div class="col-md-3 col-lg-3 col-sm-3">
                                            <img class="img-slider" src="~/Content/images/Book/DaiSoTuyenTinh.jpg" alt="List 1">
                                            <a href="#" class="link-book">
                                                Đại số tuyến tính
                                            </a><br />
                                            <span>(</span>
                                            <a href="#" class="link-author">
                                                Nguyễn Đình Trí
                                            </a>
                                            <span>)</span>
                                        </div>
                                        <div class="col-md-3 col-lg-3 col-sm-3">
                                            <img class="img-slider" src="~/Content/images/Book/DaiSoTuyenTinh.jpg" alt="List 1">
                                            <a href="#" class="link-book">
                                                Đại số tuyến tính
                                            </a><br />
                                            <span>(</span>
                                            <a href="#" class="link-author">
                                                Nguyễn Đình Trí
                                            </a>
                                            <span>)</span>
                                        </div>
                                        <div class="col-md-3 col-lg-3 col-sm-3">
                                            <img class="img-slider" src="~/Content/images/Book/DaiSoTuyenTinh.jpg" alt="List 1">
                                            <a href="#" class="link-book">
                                                Đại số tuyến tính
                                            </a><br />
                                            <span>(</span>
                                            <a href="#" class="link-author">
                                                Nguyễn Đình Trí
                                            </a>
                                            <span>)</span>
                                        </div>
                                        <div class="col-md-3 col-lg-3 col-sm-3">
                                            <img class="img-slider" src="~/Content/images/Book/DaiSoTuyenTinh.jpg" alt="List 1">
                                            <a href="#" class="link-book">
                                                Đại số tuyến tính
                                            </a><br />
                                            <span>(</span>
                                            <a href="#" class="link-author">
                                                Nguyễn Đình Trí
                                            </a>
                                            <span>)</span>
                                        </div>
                                    </div>

                                </div>
                                <div class="carousel-item">
                                    <div class="row" style="margin:12px 5px 10px 5px">
                                        <div class="col-md-3 col-lg-3 col-sm-3">
                                            <img class="img-slider" src="~/Content/images/Book/GiaiTich2.jpg" alt="List 2">
                                            <a href="#" class="link-book">
                                                Giải tích 2
                                            </a><br />
                                            <span>(</span>
                                            <a href="#" class="link-author" style="font-size:14px;  font-weight: 300;">
                                                Nguyễn Đình Trí
                                            </a>
                                            <span>)</span>
                                        </div>
                                        <div class="col-md-3 col-lg-3 col-sm-3">
                                            <img class="img-slider" src="~/Content/images/Book/GiaiTich1.jpg" alt="List 2">
                                            <a href="#" class="link-book">
                                                Giải tích 1
                                            </a><br />
                                            <span>(</span>
                                            <a href="#" class="link-author" style="font-size:14px;  font-weight: 300;">
                                                Nguyễn Đình Trí
                                            </a>
                                            <span>)</span>
                                        </div>
                                        <div class="col-md-3 col-lg-3 col-sm-3">
                                            <img class="img-slider" src="~/Content/images/Book/ToanCaoCap.jpg" alt="List 2">
                                            <a href="#" class="link-book">
                                                Toán cao cấp
                                            </a><br />
                                            <span>(</span>
                                            <a href="#" class="link-author" style="font-size:14px;  font-weight: 300;">
                                                Nguyễn Đình Trí
                                            </a>
                                            <span>)</span>
                                        </div>
                                        <div class="col-md-3 col-lg-3 col-sm-3">
                                            <img class="img-slider" src="~/Content/images/Book/GiaoTrinh.jpg" alt="List 2">
                                            <a href="#" class="link-book">
                                                Toán chuyên đề
                                            </a><br />
                                            <span>(</span>
                                            <a href="#" class="link-author" style="font-size:14px;  font-weight: 300;">
                                                Nguyễn Đình Trí
                                            </a>
                                            <span>)</span>
                                        </div>
                                    </div>

                                </div>
                                <div class="carousel-item">
                                    <div class="row" style="margin:12px 5px 10px 5px">
                                        <div class="col-md-3 col-lg-3 col-sm-3">
                                            <img class="img-slider" src="~/Content/images/Book/PhapLuatDaiCuong.jpg" alt="List 3">
                                            <a href="#" class="link-book">
                                                Pháp luật đại cương
                                            </a><br />
                                            <span>(</span>
                                            <a href="#" class="link-author">
                                                NXB Quốc Gia - Sự Thật
                                            </a>
                                            <span>)</span>
                                        </div>
                                        <div class="col-md-3 col-lg-3 col-sm-3">
                                            <img class="img-slider" src="~/Content/images/Book/PhapLuatDaiCuong.jpg" alt="List 3">
                                            <a href="#" class="link-book">
                                                Pháp luật đại cương
                                            </a><br />
                                            <span>(</span>
                                            <a href="#" class="link-author" style="font-size:14px;  font-weight: 300;">
                                                NXB Quốc Gia - Sự Thật
                                            </a>
                                            <span>)</span>
                                        </div>
                                        <div class="col-md-3 col-lg-3 col-sm-3">
                                            <img class="img-slider" src="~/Content/images/Book/DuongLoiCMcuaDCSVN.jpg" alt="List 3">
                                            <a href="#" class="link-book">
                                                Đường lối cách mạng của Đảng Cộng sản Việt Nam
                                            </a><br />
                                            <span>(</span>
                                            <a href="#" class="link-author">
                                                NXB Quốc Gia - Sự Thật
                                            </a>
                                            <span>)</span>
                                        </div>
                                        <div class="col-md-3 col-lg-3 col-sm-3">
                                            <img class="img-slider" src="~/Content/images/Book/TuTuongHCM.jpg" alt="List 3">
                                            <a href="#" class="link-book">
                                                Tư tưởng Hồ Chí Minh
                                            </a><br />
                                            <span>(</span>
                                            <a href="#" class="link-author">
                                                NXB Quốc Gia - Sự Thật
                                            </a>
                                            <span>)</span>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>

                        <!-- Left and right controls -->
                        <a class="carousel-control-prev" href="#cn-slide" data-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                        </a>
                        <a class="carousel-control-next" href="#cn-slide" data-slide="next">
                            <span class="carousel-control-next-icon"></span>
                        </a>


                    </div>
                </div>
            </div>
        </div>
    </div>

</div>